* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #e7ecf2;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    color: #2c3e50;
}

.search-container {
    margin-top: 20px;
}

#searchInput {
    padding: 10px;
    width: calc(100% - 122px); /* Button width + padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#searchButton {
    padding: 10px 20px;
    background: #1abc9c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#searchButton:hover {
    background: #16a085;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.weather-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weather-temp {
    display: flex;
    align-items: center;
}

#weatherIcon {
    width: 100px;
    margin-right: 20px;
}

@media (max-width: 768px) {
    .weather-content {
        flex-direction: column;
    }
}
